// .video-info-box{
//   border-top: 1px solid #303030;
//   border-bottom: 1px solid #303030;
//   background-color: #181818;
//   color: #FFF;
//   display: flex;
//   margin: 24px 0;
//   padding: 16px 0;
//   img{
//     border-radius: 50%;
//   }
//   .video-info{
//     margin-left: 16px;
//     flex-grow: 1;
//     .channel-info{
//       margin-bottom: 12px;
//       .channel-name{
        
//       }
//       .num-of-subcribers{
  
//       }
//     }
//     .video-description{
//       p{
//         font-size: 14px;
//         white-space: pre-line;
//         max-width: 615px;
//         display: block;
//       }
//     }
//     .collapsed{
//       max-height: 3rem;
//       overflow-y: hidden;
//     }
//     .extended{
//       max-height: none;
//     }
//     .btn-show{
//       color: #AAA;
//       cursor: pointer;
//       display: inline-block;
//       font-size: 13px;
//       margin-top: 8px;
//     }
//   }
// }
// .btn-subs{
//   .subscribe-btn{
//     background-color: #c00;
//     border: none;
//     border-radius: 2px;
//     color: #FFF;
//     cursor: pointer;
//     margin: 0 4px;
//     text-decoration: none;
//     padding: 10px 16px;
//   }
// }

*{
  background-color: #181818;
}
.video-info-container{
  background-color: #181818;
  color: #FFF;
  .video-info{
    padding: 20px 0 8px;
    border-bottom: 1px solid #303030;
    .video-title{
      font-size: 18px;
    }
    .publish{
      font-size: 14px;
      color: #aaa;
    }
  }
  .video-info-box{
    border-bottom: 1px solid #303030;
    margin: 0 0 24px;
    padding: 16px 0;
    .top{
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      img{
        cursor: pointer;
        margin-right: 16px;
        border-radius: 50%;
      }
      .channel-info{
        flex-grow: 1; 
          .channel-name{
            cursor: pointer;
            font-size: 14px;
          }
          .num-of-subcribers{
            color: #aaa;
            font-size: 13px;
          }
      }
      .btn-subs{
        .subscribe-btn{
          background-color: #c00;
          border: none;
          border-radius: 5px;
          color: #FFF;
          cursor: pointer;
          margin: 0 4px;
          padding: 10px 16px;
        }
      }
    }
    .video-description{
      margin-left: 64px;
      max-width: 615px;
      p{
        font-size: 14px;
        white-space: pre-line;
        display: block;
      }
    }
    .collapsed{
      max-height: 4rem;
      overflow-y: hidden;
    }
    .extended{
      max-height: none;
    }
    .btn-show{
      color: #AAA;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      margin-top: 8px;
      margin-left: 64px;
    }
  }
}