*{
  margin: 0;
  padding: 0;
}
// TABS.jsx
.Channel-img{
  border-radius: 50%;
}
.Tabs {
  background-color: #181818;
  color: #AAA;
  height: 47px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  .Tab{
    padding: 12px 32px;

    &:hover{
      color:#FFF;
    }
  }
  .Tab-actived{
    border-bottom: 3px solid #FFF ;
    color:#FFF;

  }
}

// TABS2.JSX
// .Channel-img{
//   border-radius: 50%;
// }
// .Tabs {
//   background-color: #181818;
//   height: 47px;
//   box-sizing: border-box;
//   display: flex;
//   align-items: center;
//   .Tab{
//     background-color: #181818;
//     border: none;
//     color: #AAA;
//     padding: 14px 32px;
//     &:hover{
//       color:#FFF;
//       // border-bottom: 3px solid #FFF
//     }

//   }
// }