*{
  margin: 0;
  padding: 0;
}

// .Tab-menu {
//  background-color: #181818;
// }

.Tabs {
  background-color: #181818;
  color: #AAA;
  height: 47px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  .Tab{
    padding: 12px 32px;

    &:hover{
      color:#FFF;
    }
  }
  .Tab-actived{
    border-bottom: 3px solid #FFF ;
    color:#FFF;

  }
}